In [34]:
import pandas as pd
import numpy as np

In [35]:
df = pd.read_csv('rawdata.csv')

In [45]:
df.head()

,Team,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Team.1,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32
0,Rk,Date,Tm,NaN,Opp,Result,MP,FG,FGA,FG%,...,2P,2PA,2P%,3P,3PA,3P%,FT,FTA,FT%,PTS
1,1,2018-10-16,BOS,NaN,PHI,W 105-87,240,42,97,0.433,...,29,61,0.475,5,26,0.192,14,23,0.609,87
2,2,2018-10-16,PHI,@,BOS,L 87-105,240,34,87,0.391,...,31,60,0.517,11,37,0.297,10,14,0.714,105
3,3,2018-10-16,GSW,NaN,OKC,W 108-100,240,42,95,0.442,...,23,54,0.426,10,37,0.27,24,37,0.649,100
4,4,2018-10-16,OKC,@,GSW,L 100-108,240,33,91,0.363,...,35,69,0.507,7,26,0.269,17,18,0.944,108

In [52]:
columnz = ['Rank','Date','Home_Team','@','Away_Team','Result','Minutes_Played','Field_Goal','Field_Goal_Attempts','Field_Goal_%','2Point','2Point_Attempts','2Point_%','3Point','3Point_Attempts','3Point_%','Free_Throw','Free_Throw_Attempt','Free_Throw_%','points','Opp_Field_Goal','Opp_Field_Goal_Attempts','Opp_Field_Goal_%','Opp_2Point','Opp_2Point_Attempts','Opp_2Point_%','Opp_3Point','Opp_3Point_Attempts','Opp_3Point_%','Opp_Free_Throw','Opp_Free_Throw_Attempt','Opp_Free_Throw_%','Opp_Points']

In [53]:
df.columns = columnz

In [54]:
df.head()

,Rank,Date,Home_Team,@,Away_Team,Result,Minutes_Played,Field_Goal,Field_Goal_Attempts,Field_Goal_%,...,Opp_2Point,Opp_2Point_Attempts,Opp_2Point_%,Opp_3Point,Opp_3Point_Attempts,Opp_3Point_%,Opp_Free_Throw,Opp_Free_Throw_Attempt,Opp_Free_Throw_%,Opp_Points
0,Rk,Date,Tm,NaN,Opp,Result,MP,FG,FGA,FG%,...,2P,2PA,2P%,3P,3PA,3P%,FT,FTA,FT%,PTS
1,1,2018-10-16,BOS,NaN,PHI,W 105-87,240,42,97,0.433,...,29,61,0.475,5,26,0.192,14,23,0.609,87
2,2,2018-10-16,PHI,@,BOS,L 87-105,240,34,87,0.391,...,31,60,0.517,11,37,0.297,10,14,0.714,105
3,3,2018-10-16,GSW,NaN,OKC,W 108-100,240,42,95,0.442,...,23,54,0.426,10,37,0.27,24,37,0.649,100
4,4,2018-10-16,OKC,@,GSW,L 100-108,240,33,91,0.363,...,35,69,0.507,7,26,0.269,17,18,0.944,108

(6740, 33)